---
layout: 'layouts/base.njk'
---

<div class="page" id="Page">
	{{ content }}
</div>

<div> 
	<h2> Most recent site updates: </h2> 
	{% for post in collections.Versions %}
		<ul>
			<li> On: {{post.date | date: "%a, %b %d, %y"}}, <a href="{{ post.url | url}}">{{ post.data.title }}</a> by: {{ site.author.name }}</li>
		</ul>
	{% endfor %}
</div>